/* CORES */

:root{
    --azul-agua: #4fc3c2;
    --branco-gelo: #F9FAFB;
    --amarelo-pastel: #FFF6BF;

}

/* ESTILOS GERAIS */


body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: var(--branco-gelo);
    color: var(--texto);
    line-height: 1.6;
}

/* CABEÇALHO */

header{
    background-color: val(--azul-agua);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
}
